@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --bg: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-family: "Roboto";
}


html, body {
  margin: 0;
  background-color: white;
  color: white;
}

body {
  display: flex;
}

canvas {
  position: fixed;
  bottom: 0;
  right: 0;
}


main {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0 2rem;
  max-width: 50rem;
  min-height: 220rem;
}

@media (min-width: 768px) {
  main {
    padding: 5rem 10rem;
  }
}

h1 {
  color: black;
  grid-column: 2 / span 5;
  font-size: 5rem;
  margin-bottom: 0.5rem;
}
h2 {
  color: black;
  font-size: 2rem;
}

a {
  color: rgb(143,179,202);
}

@media (max-width: 768px) {
  header {
    margin-bottom: 14rem;  
  }
}

section {
  border-radius: 16px;
  margin: 2rem 0;
  padding: 2rem;
  font-size: 1.2rem;
  background: var(--bg);
}

.separator {
  min-height: 100vh;
}