@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --bg: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-family: "Roboto";
}


html, body {
  margin: 0;
  background-color: white;
  color: white;
}

body {
  display: flex;
}

canvas {
  position: fixed;
  bottom: 0;
  right: 0;
}


main {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0 2rem;
  max-width: 50rem;
  min-height: 2000rem;
}

@media (min-width: 768px) {
  main {
    padding: 5rem 10rem;
  }
}

header {
  font-family: "Cinzel Decorative", cursive;
  color: black;
  grid-column: 2 / span 5;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  header {
    margin-bottom: 14rem;  
  }
}

section {
  border-radius: 16px;
  margin: 2rem 0;
  padding: 2rem;
  font-size: 1.2rem;
  background: var(--bg);
}